.container_content_article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 64%;
    margin: 3% auto;
    color: white;
    background-color: #0e1217;
}

.content_article_user {
    display: flex;
    justify-content: space-around;
    width: 29%;
    margin: 2% auto 2% 1%;
}

img.content_article_userImage {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.article_info_date {
    display: flex;
    align-items: center;
    width: 97%;
    margin: 2% auto;
    border: 1px solid gray;
    box-shadow: 1px 1px 0px 1px;
}

.info_date_data {
    display: flex;
    justify-content: space-around;
    width: 27%;
}

.info_data_read{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: 0 4%;
}

section.article {
    display: flex;
    text-align: justify;
    width: 92%;
    margin: auto;
    border-bottom: 1px solid gray;
}

.data_likeNumber {
    display: flex;
    justify-content: space-around;
    width: 14%;
}

p.number_icone {
    display: flex;
    align-items: end;
}

.container_add_comment {
    display: flex;
    justify-content: space-around;
    margin: 4% auto;
}

p.add_comment {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    justify-content: space-around;
    box-shadow: 1px 1px;
    width: 18%;
}

button.btn_comment {
    border: none;
    margin: 4%;
    background: transparent;
    color: white;
}