.container_content_article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 64%;
    margin: 3% auto;
    color: white;
    background-color: #0e1217;
}

.content_article_user {
    display: flex;
    justify-content: space-around;
    width: 29%;
    margin: 2% auto 2% 1%;
}

img.content_article_userImage {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.article_info_date {
    display: flex;
    align-items: center;
    width: 97%;
    margin: 2% auto;
    border: 1px solid gray;
    box-shadow: 1px 1px 0px 1px;
}

.info_date_data {
    display: flex;
    justify-content: space-around;
    width: 27%;
}

.info_data_read{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: 0 4%;
}

section.article {
    display: flex;
    text-align: justify;
    width: 92%;
    margin: auto;
    border-bottom: 1px solid gray;
    background: #515256
}
.article p {
    width: 95%;
    margin: 1% auto;
}

.data_likeNumber {
    display: flex;
    justify-content: space-around;
    width: 14%;
}

p.number_icone {
    display: flex;
    align-items: end;
}

.container_add_comment {
    display: flex;
    justify-content: space-around;
    margin: 4% auto;
}

p.add_comment {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    justify-content: space-around;
    box-shadow: 1px 1px;
    width: 18%;
}

button.btn_comment {
    border: none;
    margin: 4%;
    background: transparent;
    color: white;
}

section.content_commentList {
    width: 85%;
    margin: 1% auto;
    padding: 1%;
    background: white;
    color: black;
}

.container_comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% auto;
    width: 97%;
    background: gray; 
}

.comment_details {
    display: flex;
    flex-direction: column;
    width: 19%;
    margin: 1% 0% 0 1%;
}

img.comment_user_photo {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.container_p_comment {
    display: flex;
    justify-content: stretch;
    background: white;
    width: 72%;
    margin: 4% auto;
}

.comment-user {
    text-align: justify;
    width: 94%;
    margin: 1% auto;
}