form.container_formConnexion {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 3% auto;
    background: #40454c;
    box-shadow: #e7dede 1px 1px;
}

.formConnexion_input {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-around;
    margin: 2% auto;
}

.formConnexion_input label {
    width: 39%;
    text-align: initial;
}
.btn_formConnexion {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}
button.btn_connexion {
    background: transparent;
    border: none;
    color: white;
    box-shadow: 1px 1px;
    width: 24%;
    margin-bottom: 5%;
    font-weight: bolder;
}

.error_form {
    color: red;
}