form.container_formConnexion {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 3% auto;
    background: #40454c;
}

.formConnexion_input {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-around;
    margin: 2% auto;
}

.formConnexion_input label {
    width: 39%;
    text-align: initial;
}

button.btn_connexion {
    background: transparent;
    border: none;
    color: white;
    margin-bottom: 5%;
}

.error_form {
    color: red;
}