.container_connexion_login {
    width: 51%;
    margin: 3% auto;
    background: #0e1217;
}

.navigation_connexion {
    display: flex;
    justify-content: space-around;
    margin: 3% auto;
    padding: 5%;
    width: 25%;
}

button.btn_connexion_login {
    border: none;
    box-shadow: 1px 1px;
    margin-bottom: 5%;
    color: white;
    background: transparent;
}

.container_form_connexion {
    margin-bottom: 34%;
    padding-bottom: 13%;
}